
#InStockNotifyOutOfStock {font-weight:bold; margin-bottom:5px;}
#InStockNotifyComplete {font-weight:bold;}
#InStockNotifyEmail {margin-bottom:5px;}
#InStockNotifyEmailAddress {color:#000000 !important; width:210px;}
#InStockNotifyButton {margin-bottom:5px;}
#InStockNotifyInvalidEmail {color:#b94a48 !important;}

#InStockNotifyClick:hover{background-color:#808080}
#InStockNotifyClick 
    {
    color: #FFFFFF;
    background-color: #B50F0F;
    font-family: 'Montserrat', Helvetica, Arial, Sans-Serif;
    font-size: 14px;
    width: 210px !important;
    font-weight: bold;
    text-align:center;
    margin-top: 8px;
    padding: 7px 10px !important;
    text-decoration: none!important;
    text-transform: uppercase;
    text-shadow: 0 1px 3px rgba(0,0,0,0.8);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.7);
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.7);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.7);
    padding: 8px 10px!important;
    display: inline-block;
    width: auto;
    cursor: pointer;
    overflow: visible;
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    }
