.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* Design Changes */
img {max-width:100%;}
#TopMenu {padding-right:0;}
.MainContainer {padding-right:20px;}
.Content.Widest {width:100%;}
.ContentPage .Content.Widest, .NewsContentBox .Content.Widest {width:98%;}
.Content .ProductList {margin-right:auto; margin-left:0;}

/* Header Search Auto Complete Box */
#QuickSearch {margin-left:0 !important; width:289px !important;}
.QuickSearchTitle td, .QuickSearchAllResults td {padding-right:15px;}
.QuickSearchAllResults { text-indent: inherit;}
.QuickSearchAllResults a {height:auto; float:right; height:auto;}



.Content p {line-height:160%; color:#555; }

input { -webkit-appearance:none; border-radius:0;}

/* common media */
#mobile-header , .MobileView {display: none;}
.deskView {display: block;}
.TopAccountMenu {border-right:none;}
#SideCurrencySelector {border-right:1px solid #464646;}

/* ================= Media Query for Product Details Video Starts ================= */
@media screen and (min-width: 768px)
{
#FeaturedVideo embed {width:640px; height:480px;  }
#FeaturedVideo, #VideoSingle { text-align:center; }
#VideoList { width:640px; margin:0 auto; }
#VideoList li { float:left; width:45%; list-style-type:none; } 

}


@media screen and (min-width: 240px) and (max-width: 767px)
{
#FeaturedVideo embed {width:100%; height:240px;  }
#FeaturedVideo, #VideoSingle { text-align:center; }
#VideoList { width:100%; margin:0 auto; }
#VideoList li { float:left; width:auto; list-style-type:none; } 
}

/* ================= Media Query for Product Details Video Starts ================= */







@media screen and ( min-width: 769px ) {
    
    #sidr {display: none !important;}
body {left:0px !important; width: 100% !important;}
.ProductList li .ProductActionAdd a {width:52%;}

.treeview li a, .SideNav li a, #sidr-right a {padding:10px 12px 10px;}

.AccountLogin .NarrowFormContainer p.Submit {margin-left:0;}
.CreateAccount li {padding-bottom:8px; color:#555;}




}

@media screen and ( min-width: 1282px ) {
    /* Common Width 1282 */
    .MaxWidth { width: 100%; margin: 0px auto; }
.ProductList li.item-0, .ProductList li.item-1, .ProductList li.item-2, .ProductList li.item-3, .ProductList li.item-4 {width:240px; padding:12px 14px 12px 0;}

#HomePageGrid .item-count-1 .ProductImage, #HomePageGrid .item-count-2 .ProductImage { min-height: 270px; padding-top: 50px; }
.PrimaryProductDetails .ProductMain { width: 600px; float:left; margin-left:20px; }

.slider-item {min-width:1010px; min-height:300px;}




}

@media screen and ( max-width: 1280px ) {
    /* Header Search Auto Complet Box - 1280 */
    #QuickSearch {width:260px !important;}
    /* Common Width 1275 */
    .slider-item { margin-bottom:30px; }
.PrimaryProductDetails .ProductMain { width: 69%; }
/* Home Page Slider - 1280 and Below */
.slide-show-render.slide-show {max-width:100% !important; width:100% !important; -moz-box-sizing:border-box; box-sizing:border-box;}

/* Inner Content Page - below 1280 */
.contentbg {padding:15px !important; /* width:95% !important; */}
ul.ShippingAddressList li {width:auto;}

/* Brand Grid View - 1280 */
.SubBrandListGrid li {width:226px !important;}

#LoginForm input[type="text"], #LoginForm input[type="password"] {width:auto;}

.CheckoutRedeemCoupon {width:100%; margin-bottom:25px;}

/* Login Page - 1280 and below */
.CreateAccount, .AccountLogin {width:45%; padding-left:2%; padding-right:2%;}


/* Sub Categories List - Grid View */
.SubCategoryListGrid li {width:230px !important;}

}

@media screen and ( min-width: 1101px ) and ( max-width:1150px ){
    
    .NewsletterSubscription input[type="text"] {margin-right: 5px; width: 94%;}






}


/* ======================================================================
Updated Media Queries 
======================================================================= */
@media screen and ( max-width:800px ){
/* .slide-show-render ol {display:none;} */
.MainContainer {padding-right: 20px; padding-left: 260px;}
.flex-direction-nav a {top:115px;}

/* New Slide Show - Cycle 2 */
#HomeSlideShow .cycle-pager, #HomeSlideShow:hover .center {display:none;}

/* Footer - Below 800 */
#ContainerFooter p, .socialicons-side {float:none; width:100%; margin: 0 auto; text-align:center;}
#ContainerFooter p {padding-bottom:10px;}

/* Sitemap Page - 800 */
.SitemapPages, .SitemapCategories, .SitemapBrands {float:none; width:100%; margin-right:auto; clear:both;}
#SitemapContent h3 {padding-top:15px;}

/* Login Page - 800 and Below */
.AccountLogin, .CreateAccount {width:98%; clear:both; float:left; margin:0 auto 20px; padding:0; border:none;}

/* Brands Grid View - 800 */
.SubBrandListGrid li {width:238px !important;}

/* Express Checkout Page - 800 */
.ExpressCheckoutBlockCompleted .ExpressCheckoutCompletedContent {display:none;}
.FieldFull {width:auto;}

/* Category Page - below 800 */
#CategoryHeading h1, #BrandContent h1 {width:100%;}

/* Common form Elements - 800 */
.HorizontalFormContainer.DynamicWidth dd   {float:none; width:100%;}
.HorizontalFormContainer.DynamicWidth {width:100%;}
input.field-xlarge[type="password"], input.field-xlarge[type="text"] {width:auto;}

/* multiAddressForm - 800 */
#multiAddressForm table.CartContents td, #multiAddressForm table.General td {float:left; padding:0;}
#multiAddressForm table.CartContents th, #multiAddressForm table.General th {display:none;}
#multiAddressForm div.selector {width:auto !important;}

/* Common Product Li - 800*/
.Content .ProductList {margin-left:-4.2%;}
.ProductList li.item-0,.ProductList li.item-1,.ProductList li.item-2,.ProductList li.item-3,.ProductList li.item-4,.ProductList li.item-5 {width: 45.5%; padding: 10px 0 10px 4.2%;}

/* 404 Page - 800px and below */
.NotFound {background-size:80% auto; background:none;}
.contentbg, #Wrapper.contentbg, .NotFound { min-height:50px;}

/* Product Details Page 800 and below */
.PrimaryProductDetails .ProductAside {width:100%;}
.ProductThumbImage, .ProductThumb {display:block; margin:0 auto;}
.zoomWindow {display:none !important;}

/* Sub Categories List - Grid View - 800 */
.SubCategoryListGrid li {width:250px !important;}






}

@media screen and ( max-width:768px ){
    /* Top Menu and Left Menu - 768 */
    #Logo { max-width: 100%; max-height: 100px; }
.MobileView, #mobile-header {display: block;}
#TopMenu.deskView, .deskView {display: none;}
#sidr .deskView {display: block;}
#sidr #Logo {display: block;}
.MainContainer {padding-left: 0px; padding-right: 0;}

.MaxWidth { width: 90%; margin: 0px auto;}
.SideNav {width:99%; display: none;}
#sidr-right a:hover {background:#555;}
.flex-direction-nav a {top:145px;}
/* .slide-show-render ol {display:none;} */

/* Brands Grid View - 768 */
.SubBrandListGrid li {width:211px !important;}

/* Common Product Li - 768*/
.ProductList li .ProductPriceRating em {width:45%; float:left;}
.Content .ProductList {margin-left:-2.5%;}
.ProductList li.item-0, .ProductList li.item-1, .ProductList li.item-2, .ProductList li.item-3, .ProductList li.item-4, .ProductList li.item-5 { width: 30.5%; padding: 10px 0 10px 2.5%; }

/* Account Recent Item - 768 */
#AccountRecentItems .ProductList li {width:30.4%;}

/* Sub Categories List - Grid View - 800 */
.SubCategoryListGrid li {width:31.1% !important;}


}





@media screen and ( min-width: 1151px ) and ( max-width:1310px ){
/* Common Product Li - 1280 */
.Content .ProductList {margin-left:-23px;}
.ProductList li.item-0, .ProductList li.item-1, .ProductList li.item-2, .ProductList li.item-3, .ProductList li.item-4, .ProductList li.item-5 {padding:5px 0 20px 23px; } 
/* Product Detail Page - 1280 */
.PrimaryProductDetails .ProductMain { width: 57%; }

/* Inner Content Page - 1280 */
.contentbg {padding:15px !important;}



}



@media screen and ( min-width: 1024px ) and ( max-width:1100px ){
    
    .slide-show-render-full .slide-heading {font-size:30px; margin:0 auto;}
#HeaderLower li a { padding: 0px 10px;}

/* Common Product Li - 1280 */
.Content .ProductList {margin-left:-2%;}
.ProductList li.item-0, .ProductList li.item-1, .ProductList li.item-2, .ProductList li.item-3, .ProductList li.item-4, .ProductList li.item-5 { width: 31%; padding: 10px 0 10px 2%; }
.Content.Wide {float: left; width: 96%;}

/* Home Slide Show - 1024 */
.slide-show-render-full .slide-overlay {top:0;}
.slide-show-render-full .slide-heading {font-size:25px; margin:0 auto; line-height:normal !important;}
.flex-control-paging {bottom: 30px !important;}
.flex-direction-nav a {top:145px;}

/* Product Details Page - 1024 */
.PrimaryProductDetails .ProductMain {width:47%;}
.PrimaryProductDetails .ProductAside {width:350px;}
.ProductThumbImage, .ProductThumb, .ProductThumbImage img {width:348px !important; max-width:348px !important;}
#uniform-EventDateMonth.selector, #uniform-EventDateDay.selector, #uniform-EventDateYear.selector {width:75px !important; margin-right:5px;}

/* Common form Elements - 1024 */
.HorizontalFormContainer.DynamicWidth dd {float:none; width:100%;}

/* Brands Grid View - 1024 */
.SubBrandListGrid li {margin:0 12px 12px 0; width:162px !important;}
.SubBrandListGrid .ProductImage img, .SubBrandListGrid li .ProductImage {min-width: 142px !important; max-width: 142px !important; width: 142px !important;}

/* Footer - 1024 */
#Footer p {width:50%;}

/* Category Page - 1024 */
#CategoryHeading h1, #BrandContent h1 {width:auto;}
.BulkDiscountLink {float:left; margin-top:15px;}
.productOptionViewSelect .selector{width:90% !important;}

/* Sub Categories List - Grid View - 1024 */
.SubCategoryListGrid li {width:228px !important;}



}


@media screen and ( min-width: 768px ) and ( max-width:1023px ) { 
    
    /* Top Menu*/
    .MaxWidth { width: none;}
.SideNav {width:260px;}
#HeaderLower li a { padding: 0px 10px;}

.Content.Wide {float: left; width: 96%;}

#TopMenu li.third {margin-left:16px;}
#TopMenu li#SideCurrencySelector {padding-right:0 !important; border-right:none;}
#TopMenu li.cartLink {border-left: 1px solid #444; float: left; margin-left: 15px;}
#TopMenu li {margin-bottom:0;}
.SideCurrencySelector {padding:0 9px 0 10px !important;}  


/* Home Page Slider - 768 */
.slide-show-render-full .slide-overlay {width:auto; top:0; bottom:auto; left:15px; padding:1% 2%; width:50%;}
.Content h2:first-child, .TitleHeading {margin:5px 0;}
.slide-show-render-full .slide-heading {font-size:25px; margin:0 auto; line-height:normal !important;}
.slide-show-render-full .slide-text {font-size:13px; line-height:18px;}
.flex-control-paging {bottom:auto !important; right:5px !important; left:auto; top:10px;}
.flex-control-paging li {float:right !important;}
.flex-control-paging li a {width:8px !important; height:8px !important;}
.flex-direction-nav a, .flex-direction-nav a.flex-next {width:35px !important; height:35px !important; background-size:35px 35px !important;}



/* Footer News - 768 */
.NewsletterSubscription input[type="text"] {width:90%; margin-right:5px;}
.NewsletterSubscription .Button {padding:0 5px !important;}

#FooterUpper h2 {float:none;}
#FooterUpper li {font-size:11px; padding:0 7px;}
#FooterUpper li:first-child {border-left:none; padding-left:0;}

/* Product Details Page - 768 */
.PrimaryProductDetails .ProductMain {width:100%;}
.prodAccordionContent {padding:0 10px;}

.NewsletterSubscription { height: auto; }
.NewsletterSubscription h2 , .NewsletterSubscription input[type="text"] , .NewsletterSubscription .BlockContent {float: none;}
.NewsletterSubscription input[type="text"] { width: 93%;  margin: 0 0 5px 0; }
.NewsletterSubscription .Button { margin-left: 0px;}




}

@media screen and ( min-width: 770px ) and ( max-width:1023px ) { 
    .SideNav {width:240px;}
/* Top Menu - 800*/
#TopMenu li a, #TopMenu li div {padding:0 8px;}
#TopMenu li.third {margin-left: 0;}
#HeaderLower li {font-size:12px;}
#HeaderLower li a {padding:0 7px;}
#SideCurrencySelector .BlockContent {left:-60px;}
#TopMenu li.cartLink {border-left:none; float: right; margin-left: 0;}

/*Cart Page - 800*/
#CartContent .CartContents td {clear: both; display: block; float: left; text-align: left; width: 94%;}
#CartContent .CartContents tbody td, #CartContent .CartContents tfoot td {padding:6px 11px;}
#CartContent table.CartContents.General thead {display:none;}
#CartContent table.CartContents.General tbody tr td {border-top:none;}
.CartItemIndividualPrice label, .CartItemTotalPrice label {display:block !important; float:left;}
.CartItemQuantity .selector {float:left;}
.CartRemoveLink {display: block; float: left; padding: 5px;}
#CartContent .CartItemTotalPrice {border-bottom:1px solid #eee9e9; padding-bottom:15px !important;}
.SubTotal td {text-align:right !important;}
.CartContents tfoot .SubTotal td {border-top:none; background:#f2f2f2;}
table.CartContents td, table.General td {border-bottom:none;}
table.CartContents .CartThumb {padding-top:25px !important;}
table.CartContents tr.First .CartThumb {padding-top:inherit !important;}
table.CartContents tfoot .SubTotal td {border:none;}
table.CartContents tfoot .SubTotal td.Even.Alpha {border-top:10px solid #fff;}
.CartItemIndividualPrice {text-align:right !important;}

.CartCode .CouponCode, .CartCode .GiftCertificate, .CheckoutRedeemCoupon {width: 100%; clear:both; float:left; margin-bottom:15px;}



}


@media screen and ( min-width: 480px ) and ( max-width:767px ) {
    
    /* Top Menu and Left Menu - 768 */
    .MaxWidth { width: none;}
.SideNav {width:200px;}
.MainContainer {padding:0 0 0 220px;}
#HeaderLower li a { padding: 0px 10px;}

#TopMenu li.third {margin-left:16px;}

#TopMenu li.cartLink { float:left;}
#TopMenu li {margin-bottom:0;}

#SideCurrencySelector {padding:0 9px 0 10px !important;}




#Logo { max-width: 100%; max-height: 100px; }

.MobileView, #mobile-header {display: block;}
.deskView {display: none;}
#sidr .deskView {display: block;}
#sidr #Logo {display: block;}

.MainContainer {padding-left: 0px; padding-right: 0px;}

.MaxWidth { width: 90%; margin: 0px auto;}
.SideNav {width:99%; display: none;}
#sidr-right a:hover {background:#555;}

.NewsletterSubscription { height: auto; }
.NewsletterSubscription h2 , .NewsletterSubscription input[type="text"] , .NewsletterSubscription .BlockContent {float: none;}
.NewsletterSubscription input[type="text"] { width: 98%;  margin: 0 20px 5px 0; }
.NewsletterSubscription .Button { margin-left: 0px;}


.flex-direction-nav {display: none;}
.slide-show-render.slide-show {margin-top:0 !important; overflow:hidden;}
.slide-show-render-full .slide-overlay { width:100%; position:relative; left:0; bottom:0; top:auto;  background:#333;}
.slide-cover { padding: 10px; }
.slide-show-render-full .slide-heading {font-size:20px; margin:0 auto; line-height:normal !important;}
.slide-show-render-full .slide-text {font-size:12px; line-height:15px;}
.flex-control-paging {bottom:auto !important; right:5px !important; left:auto; top:10px;}
.flex-control-paging li {float:right !important;}
.flex-control-paging li a {width:8px !important; height:8px !important;}
.flex-direction-nav a, .flex-direction-nav a.flex-next {width:35px !important; height:35px !important; background-size:35px 35px !important;}

.AccountLogin, .CreateAccount {width:96%;}


#FooterUpper h2  {float: none;}
#FooterUpper li:first-child { margin-left: 0px; border-left: 0px; padding-left: 0px; }


#TopMenu.deskView {display: none;}
.slide-show-render .slide-button span {font-size: 15px;}

/* Header - 480 */
#Logo h1 {padding:8px 0;}
#Logo.MobileView {display:block !important; float:left; margin-left:-12px;}
#TopMenu {margin-left:-10px;}
#SideCurrencySelector {padding:0 9px 0 10px !important;}


/* Home Page Slider - 480 */

.Content .ProductList {margin-left:-4.2%;}
.ProductList li.item-0,.ProductList li.item-1,.ProductList li.item-2,.ProductList li.item-3,.ProductList li.item-4,.ProductList li.item-5 {width: 45.5%; padding: 10px 0 10px 4.2%;}
#AccountRecentItems .ProductList li {width: 45.3%;}



#FooterUpper li { border-left: 0px; line-height: 20px; padding-left: 0px; }

/* Product Details Page - 768 */
.PrimaryProductDetails .ProductMain{width:100%;}

/* Footer - Above 480 and Below 768 */
#ContainerFooter p, .socialicons-side {float:none; width:100%; margin: 0 auto; text-align:center;}
#ContainerFooter p {margin-bottom:10px;}

/* Brands Grid View - below 767 to 480 */
.SubBrandListGrid ul {width:96%;}
.SubBrandListGrid li {width:262px !important;}

/*Cart Page - 767 to 480 */
#CartContent .CartContents td {clear: both; display: block; float: left; text-align: left; width: 94%;}
#CartContent .CartContents tbody td, #CartContent .CartContents tfoot td {padding:6px 11px;}
#CartContent table.CartContents.General thead {display:none;}
#CartContent table.CartContents.General tbody tr td {border-top:none;}
.CartItemIndividualPrice label, .CartItemTotalPrice label {display:block !important; float:left;}
.CartItemQuantity .selector {float:left;}
.CartRemoveLink {display: block; float: left; padding: 5px;}
#CartContent .CartItemTotalPrice {border-bottom:1px solid #eee9e9; padding-bottom:15px !important;}
.SubTotal td {text-align:right !important;}
.CartContents tfoot .SubTotal td {border-top:none; background:#f2f2f2;}
table.CartContents td, table.General td {border-bottom:none;}
table.CartContents .CartThumb {padding-top:25px !important;}
table.CartContents tr.First .CartThumb {padding-top:inherit !important;}
table.CartContents tfoot .SubTotal td {border:none;}
#ConfirmOrder table.CartContents tfoot .SubTotal td {border-top:10px solid #fff; border-bottom:10px solid #fff;}
table.CartContents tfoot .SubTotal td.Even.Alpha {border-top:10px solid #fff;}
.CartItemIndividualPrice {text-align:right !important;}

.CartCode .CouponCode, .CartCode .GiftCertificate, .CheckoutRedeemCoupon {width: 100%; clear:both; float:left; margin-bottom:15px;}

.uniform-multiselect {width:95% !important;}

.CartList .ProductImage {width:80% !important; margin:0 auto 15px; float:none; overflow:hidden;}
.CartList .ProductDetails {padding:0;}
.ProductDetails .CartQuantity br {display:none;}

.zoomPup, #fancy_outer, #fancy_loading, #fancy_overlay {display:none !important;}

/* .CartRemoveLink {position:absolute; right:0; top:0; background:#ff0000; color:#fff; text-decoration:none !important; margin:10px -35px 0 0; text-align:center;}
.CartRemoveLink:hover {background:#444; color:#fff;} */
.CartRemoveLink {position:absolute; right:0; top:0; background:#ddd url(../images/remove.png) 50% no-repeat; padding:0 !important; margin:0 auto; overflow:hidden; text-indent:-500px; width:25px !important; height:25px !important;}
.CartList li {padding:15px 0;}

/* Buy in Bulk and Save Popup Box - 767px to 480px */
#ModalContainer {width:440px !important; left:0 !important; margin-left:20px !important;}
#ModalButtonRow, .ModalButtonRow {height:auto !important;}

/* Sub Categories List - Grid View - 767 */
.SubCategoryListGrid li {width:47% !important;}
.SubCategoryListGrid li a:first-child {height:auto !important;}


}

@media screen and ( max-width:480px ) {
    .contentbg {width:auto !important;}
ul.ShippingAddressList li {width:auto;}
.TabNav {height:auto;}

#Logo { max-width: 100%; max-height: 100px; }

.MobileView, #mobile-header {display: block;}
.deskView {display: none;}
#sidr .deskView {display: block;}
#sidr #Logo {display: block;}

.MainContainer {padding-left: 0px; padding-right: 0px;}

.MaxWidth { width: 90%; margin: 0px auto;}
.SideNav {width:100%; display: none;}
#sidr-right a:hover {background:#555;}


.NewsletterSubscription { height: auto; }
.NewsletterSubscription h2 , .NewsletterSubscription input[type="text"] , .NewsletterSubscription .BlockContent {float: none;}
.NewsletterSubscription input[type="text"] { width: 94% !important;  margin: 0 0 5px 0; }
.NewsletterSubscription .Button { margin-left: 0px;}


.flex-direction-nav {display: none;}
.slide-show-render.slide-show {margin-top:0 !important; overflow:hidden;}
.slide-show-render-full .slide-overlay { width:100%; position:relative; left:0; bottom:0; top:auto;  background:#333;}
.slide-cover { padding: 10px; }
.slide-show-render-full .slide-heading {font-size:16px; margin:0 auto !important; line-height:normal !important; min-width:100%; margin-top:0;}
.slide-show-render-full .slide-button {margin-bottom:0; font-size:14px; line-height:25px;}
.slide-show-render-full .slide-text {margin-bottom:15px;}
.slide-show-render-full .slide-text {font-size:12px; line-height:15px;}
.flex-control-paging {bottom:auto !important; right:5px !important; left:auto; top:10px;}
.flex-control-paging li {float:right !important;}
.flex-control-paging li a {width:8px !important; height:8px !important;}
.flex-direction-nav a, .flex-direction-nav a.flex-next {width:35px !important; height:35px !important; background-size:35px 35px !important;}

#FooterUpper h2  {float: none;}
#FooterUpper li:first-child { margin-left: 0px; border-left: 0px; padding-left: 0px; }

.ProductList li.item-0,.ProductList li.item-1,.ProductList li.item-2,.ProductList li.item-3,.ProductList li.item-4,.ProductList li.item-5 {width: 90%; padding: 10px 5%;}
#AccountRecentItems .ProductList li {width:100%; padding:10px 0;}
#FooterUpper li { border-left: 0px; line-height: 20px; padding-left: 0px;}
#TopMenu.deskView {display: none;}
#SideCurrencySelector {padding:0 5px !important;}
#TopMenu .cartLink a {padding-right:15px;}
#TopMenu li a#quickSidrMenuRight {padding:2px 7px;}
#Logo h1 {padding-top:0;}

.PagesMenu.Block {float:left; clear:both; width:100%; padding-bottom:0;}

/* Product Details Page - 320 */
.PrimaryProductDetails .ProductMain{width:100%;}
.BulkDiscountLink {clear:both; float:left; margin-top:10px;}
.Content .ProductList {margin-left:auto; margin-right:auto;}

.zoomPad {cursor:pointer;}
.ProductThumbImage, .ProductThumb {max-width:100%!important; width:auto !important; height:auto !important; height:auto !important;}
.ProductThumbImage img, .PrimaryProductDetails .ProductAside {width:100%;}
.zoomPup, #fancy_outer, #fancy_loading, #fancy_overlay {display:none !important;}



/* Common Form Elements - Below 480 */
.HorizontalFormContainer dd, .HorizontalFormContainer p.Submit {margin-left:0; clear:both;}
textarea.Field400, input.Field400[type="text"] {width:auto !important;}
#uniform-revrating {width:90% !important;}
#recaptcha_area {overflow-x:auto;}

/* Brands Grid View - below 480 */
.SubBrandListGrid li {width:260px !important; float:none; margin:0 auto 20px; clear:both;}

/*Cart Page below -  480*/
#CartContent .CartContents td {clear: both; display: block; float: left; text-align: left; width: 94%;}
#CartContent .CartContents tbody td, #CartContent .CartContents tfoot td {padding:6px 11px;}
#CartContent table.CartContents.General thead {display:none;}
#CartContent table.CartContents.General tbody tr td {border-top:none;}
.CartItemIndividualPrice label, .CartItemTotalPrice label {display:block !important; float:left;}
.CartItemQuantity .selector {float:left;}
.CartRemoveLink {display: block; float: left; padding: 5px;}
#CartContent .CartItemTotalPrice {border-bottom:1px solid #eee9e9; padding-bottom:15px !important;}
.SubTotal td {text-align:right !important;}
.CartContents tfoot .SubTotal td {border-top:none; background:#f2f2f2;}
table.CartContents td, table.General td {border-bottom:none;}
table.CartContents .CartThumb {padding-top:25px !important;}
table.CartContents tr.First .CartThumb {padding-top:inherit !important;}
table.CartContents tfoot .SubTotal td {border:none;}
table.CartContents tfoot .SubTotal td.Even.Alpha {border-top:10px solid #fff;}
.CartItemIndividualPrice {text-align:right !important;}

.CartCode .CouponCode, .CartCode .GiftCertificate, .CheckoutRedeemCoupon {width: 100%; clear:both; float:left; margin-bottom:15px;}
table.CartContents .CartThumb, table.CartContents .CartThumb a {display:block; text-align:center; margin:0 auto;}
.CartList .CartItemPrice, .CartList .CartQuantity {clear:both;}
.CartContents .SubTotal.First em.ProductPrice, .GrandTotal .ProductPrice {float:right;}
.uniform-multiselect {width:95% !important;}

.CartList .ProductImage {width:100% !important; background:#fff; margin:0 auto 15px; float:none; overflow:hidden;}
.CartList .ProductImage a {width:50%; display:block; margin:0 auto; text-align:center;}
.CartList .ProductDetails {padding:0;}
.ProductDetails .CartQuantity br {display:none;}
.CartRemoveLink {position:absolute; right:0; top:0; background:#ddd url(../images/remove.png) 50% no-repeat; padding:0 !important; margin:0 auto; overflow:hidden; text-indent:-500px; width:25px !important; height:25px !important;}
.CartList li {padding:15px 0;}
#CartContent .CartContents .productAttributes td {float:left; width:auto; clear:none; display:table-cell;}
#CartContent table.CartContents .mobile-view td:first-child  {padding-top:10px;}

.HorizontalFormContainer dt {float:none; clear:both;}
/* multiAddressForm - 480 and below */
.TabNav li a {font-size:12px !important;}

/* Mobile Cart - 480 and Belve */
.desktop-view { display:none; }
.mobile-view { display:block; }
.EstimateShipRow td {height:auto !important; width:100% !important;}
.EstimateShipping {width:90%;}

/* Express Checkout Step 4 - 480 */
.ExpressCheckoutBlock .ExpressCheckoutTitle, .ProductList li .ProductActionAdd a, .btn, input[type="submit"], input[type="button"] {font-size:13px !important;}
.ExpressCheckoutBlock h3 a {font-size:10px;}
.HorizontalFormContainer.DynamicWidth p.Submit {margin-left:0;}
.ExpressCheckoutContent th, #ConfirmOrder th {display:none;}
.ExpressCheckoutContent tfoot td,  #ConfirmOrder tfoot td {border-top:5px solid #fff !important; height:50px; font-size:13px !important;}
.ExpressCheckoutContent tfoot td:first-child,  #ConfirmOrder tfoot td:first-child {width:70%;}
.ExpressCheckoutContent tfoot .CheckoutTotalRowTotal td,  #ConfirmOrder tfoot .CheckoutTotalRowTotal td {background:#464646; color:#fff !important;}
#OrderConfirmationForm h3, #ConfirmOrder h3 {font-size:15px;}
.CheckoutOrderComments textarea.FieldFull {width:90% !important;}
.BillingDetails, .ShippingDetails {width:100%; clear:both; display:block;}
#ConfirmOrder h2 {height:auto !important;}
#OrderConfirmationForm .mobile-view td:first-child, #ConfirmOrder .Even.Alpha {width:100%;}

#payment_options, #provider_list {clear:both; width:100%;}
#use_store_credit table, #use_store_credit td {width:100%; clear:both; float:left; text-align:left;}
/* Wishlist - 480 */
#wishlistsform ul {margin-left:0;}
#wishlistsform .edit a {background:url("../images/edit.png") no-repeat scroll left top rgba(0, 0, 0, 0); width:20px; height:20px; overflow:hidden; display:block; text-indent:-200px;}
#wishlistsform .delete a {background:url("../images/trash.png") no-repeat scroll left top rgba(0, 0, 0, 0); width:20px; height:20px; overflow:hidden; display:block; text-indent:-200px; margin:0 2px;}
#wishlistsform .share a {background:url("../images/share.png") no-repeat scroll left top rgba(0, 0, 0, 0); width:20px; height:20px; overflow:hidden; display:block; text-indent:-200px;}
#wishlistsform li h5.Subtitle {text-transform:none; font-size:13px !important;}
.SharePublicWishList > a {word-wrap: break-word;}

/* Common Form Elements - 480 and below */
input, select, textarea, .Field50, .Field100, .Field150, .Field200, .Field300, .Field350, .Field400, .Field450, .Field500, .Field550, .Field600  {width:auto !important;}
#message, textarea {width:90% !important;}
#WishListEditFrom dd, .HorizontalFormContainer dd, .HorizontalFormContainer p.Submit {margin-left:0 !important; clear:both; float:left;}

#share-product ul.tabs li {font-size:12px; padding-right:3px; font-weight:normal;}
#share-product #tabcontent .photo {float:none; margin:0 auto;}
.chooseAnotherToShare {clear: both; float: left; margin-top: 10px;}






}

@media screen and (min-width:240px) and ( max-width:479px ) {
    .contentbg {width:90% !important;}
h1, h2, h3, h4, h5, h6 {line-height:normal;}
.btn.WishListButton {margin:10px 0 0 0;}
.productOptionViewSelect .selector{width:90% !important;}
.ProductPrice, .ProductList em, .ProductList em  {max-width:none;}

div.uploader span.filename {width:130px;}

/* Brands Grid View - below 320 */
.SubBrandListGrid ul {width:94%;}

.CartUpdateBtn {float:right; margin-bottom:10px;}
table.CartContents .CartThumb, table.CartContents .CartThumb a {display:block; text-align:center; margin:0 auto;} 

#CartHeader {padding:18px 0;}
#CartHeader span.FloatRight {margin-top:10px;}

/* Mobile Cart - 320 and Belve */
.EstimateShipping {padding:20px 10px;}
.EstimateShipping dd {float:left; margin-left:0; clear:both;}
.EstimateShipping p.Submit {clear:both;}
.EstimateShipping p.Submit input {margin-top:5px;}
.EstimateShipping .Even.Alpha.Omega {border-top:5px solid #fff;}

/* Express Checkout Step 4 - 320 */
.ExpressCheckoutBlock .ExpressCheckoutTitle, .ProductList li .ProductActionAdd a, .btn, input[type="submit"], input[type="button"] {font-size:13px !important; margin-bottom:5px;}
.ExpressCheckoutBlock h3 a {font-size:10px;}
.HorizontalFormContainer.DynamicWidth p.Submit {margin-left:0;}
.ExpressCheckoutContent th, #ConfirmOrder th {display:none;}
.ExpressCheckoutContent tfoot td,  #ConfirmOrder tfoot td {border-top:5px solid #fff !important; height:50px; font-size:13px !important;}
.ExpressCheckoutContent tfoot td:first-child,  #ConfirmOrder tfoot td:first-child {width:70%;}
.ExpressCheckoutContent tfoot .CheckoutTotalRowTotal td,  #ConfirmOrder tfoot .CheckoutTotalRowTotal td {background:#464646; color:#fff !important;}
#OrderConfirmationForm h3, #ConfirmOrder h3 {font-size:15px;}
.CheckoutOrderComments textarea.FieldFull {width:90% !important;}
.BillingDetails, .ShippingDetails {width:100%; clear:both; display:block;}
#ConfirmOrder h2 {height:auto !important;}

#ChooseShippingAddress p.actions.FloatRight {width:100%; clear:both; text-align:right;}

/* Wishlist - 479 and below */
#SideProductAddToWishList {left:50% !important; margin-left:-120px;}

/* Tabs - 480 and belo */
.TabNav {padding:0;}
.TabNav li {width:100%; margin:0 auto; padding:0;}
.ToggleSearchFormLink {width:100%; text-align:right; margin:10px 0;}

/* Buy in Bulk and Save Popup Box - 479px and below */
#ModalContainer {width:280px !important; left:0 !important; margin-left:20px !important;}
#ModalButtonRow, .ModalButtonRow {height:auto !important;}

/* Sub Categories List - Grid View - 479 */
.SubCategoryListGrid li {width:90% !important; margin-left:5% !important; margin-right:5% !important;}
.SubCategoryListGrid li a:first-child {height:auto !important;}

}


@media screen and ( max-width:320px ) {
    .ProductTinyImageList li {margin:0 6px 16px 0;}
}
