@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
/* Color: White */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #000;
    background: url(//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/bodybg.gif);
}

a {
    color: #2767C5;
    font-weight: normal;
    text-decoration: none;
}
.ProductName a {color:#444;}
a:hover {
    color: #6e6e6e;
}
select{
    height: auto;
    background:#fff;
}
input,
textarea {
    background:#fff;
}
input[type="image"] {
    background: none;    
    border:none;
}
.Textbox,
input,
select,
textarea {
    border: 1px solid #d5d5d5;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}
h1, h2, h3, h4, h5, h6 { margin: 0 0 15px; padding: 0; font-family:'Open Sans', sans-serif; font-weight:600; color: #2767C5; text-transform: uppercase; }
h1 { font-size:24px; }
h2 { font-size:22px; }
h3 { font-size:20px; }
h4 { font-size:18px; }
h5 { font-size:16px; }
h6 { font-size:14px; }

/* General Order - Unorder List Styling starts */
#PageContent .BlockContent ul, .CategoryDescription ul, .banner_home_page_top ul, .banner_home_page_bottom ul, .banner_category_page_top ul, .banner_category_page_bottom ul, .banner_brand_page_top ul, .banner_brand_page_bottom ul, .banner_search_page_top ul, .banner_search_page_bottom ul, .prodAccordionContent ul, .PostBody ul { color:#2767C5; line-height:24px; margin: 0 0 0 25px; list-style-type:square;}
#PageContent .BlockContent li, .CategoryDescription li, .banner_home_page_top li, .banner_home_page_bottom li, .banner_category_page_top li, .banner_category_page_bottom li, .banner_brand_page_top li, .banner_brand_page_bottom li, .banner_search_page_top li, .banner_search_page_bottom li, .prodAccordionContent ul li, .PostBody li { color:#555; padding:0 0 5px 5px; }

#PageContent .BlockContent ol { color:#2767C5; line-height:24px; }
#PageContent .BlockContent ol li { color:#555; padding:0 0 5px 5px;}
/* General Order - Unorder List Styling ends */

#Wrapper, 
.Breadcrumb {
overflow:hidden;    
}
.Breadcrumb ul {clear:both;}
.flex-direction-nav li {float: none !important; position: inherit !important;}
#Wrapper .Breadcrumb, .Breadcrumb{
    clear:both; display:block;
    /*    border-top: none;
    float:left;
    margin-top:10px;
    background:none;
    padding:0px; */
    
}
.Breadcrumb a { color: #666; }
#TopMenu li { }
#TopMenu li.CartLink {
    background: url(//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/white/CartSmall.gif) 100% 50% no-repeat;
    padding-right: 16px;
}
#TopMenu li a { color: #444; text-decoration: none; }
#TopMenu li a#quickSidrMenuRight {
    background: none repeat scroll 0 0 #000000;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    margin-left: 12px;
    padding: 2px 15px;
}
#TopMenu li div a{border-right:0;}
#TopMenu li div {
    color: #999;
    text-decoration: none;
}
#TopMenu li a:hover {
    color: #2767C5;
}


.slide-show {
    width: 980px;
}
#SearchForm input { border-top-color: black; !important; background: white; color:black;}
#SearchForm input:focus {
    color: black;
}
#SearchForm .Button {
    border: none;
}

div.categoryPicker {
    border:1px solid #d2d2d2 !important;
    padding-left: 10px;
    padding-bottom: 8px;
}

#SideNewProducts img {
    border:1px solid #dcdcdc;
}


.order-number {
    font-size:1.4em;
    font-family: 'Montserrat';
    letter-spacing: -1px;
    text-transform: uppercase;
}

.hero_slider .Block div {
    border-bottom: 4px solid #000;
}
.hero_slider .Block div div {
    border: 0;
}
.hero div .text h1,
.hero div .text h2,
.hero div .text h3,
.hero div .text p,
.hero div .text a {
    color: #000;
    text-shadow: none;
}
.hero div .text.white * { /* Reverse text colour */
    color: #fff !important;
    text-shadow: 1px 1px 2px #000 !important;
}



a.btn_link { /* All boxed links within banners */
    color: #fff !important;
    background: #000;
    text-decoration: none;
    padding: 2px 10px 2px 10px !important;
}
a.btn_link:hover {
    
}
.ToggleSearchFormLink.btn a:hover{
    color:#000;
}

.plain.btn {
    background: #474747!important;
    text-transform: uppercase !important;
}
.plain.btn:hover{
    
}

.Left h2 {
    font:12px 'Arial';
    color:#ccc;
    padding:8px 0;
}

.Right li {
    border-bottom: 1px solid #dcdcdc;
}

.Right .ProductList li {
    border: none;
    margin-bottom: 10px;
}

.PagesMenu.Block {
    padding-bottom: 20px;
}
#Footer p {
    color: #666;
    float: left;
    margin-right: 10px;
}
#Footer a {
    color: #666;
    font-weight:bold;
}


.NewsletterSubscription input {
    display:block;    
}
.NewsletterSubscription input:focus {
    color: #000;
}
.NewsletterSubscription .Button {
    border: 0;
}

.Content {font-size:14px; line-height:20px;}

.Content .ProductList .ListView .ProductImage{
    border:1px solid #ccc;
}
.Content .ProductList li .ProductActionAdd a {
    background: url("//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/cart.png") no-repeat !important;
    border-radius: 0 0 0 0 !important;
    text-indent: -99999px;
    width: 44px !important;
    padding: 0 !important;
    font-size:0px;
    display:block;
}
.Content .ProductList li .ProductActionAdd a:hover {
    background: url("//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/cart.png") no-repeat 0 -42px !important;
}

.ProductList li .ProductWishlistContaint {
    background: none repeat scroll 0 0 #f8f8f8;
    border-left: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    float: right;
    height: 42px;
    width: 46px;
    text-align:center;
}
.ProductList li .ProductPriceRating {padding-left:10px; }
.ProductList li .ProductWishlistContaint img { padding: 14px 0; }

.Content .ProductList li .ProductActionAdd {
    margin: 0;
    height: 42px;
    float: right;
}

.Content .ProductList li .AddToWishlistLink, .Content .ProductList li .ProductActionAdd {
    border-left: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    background: none repeat scroll 0 0 #f8f8f8;
    width: 46px;
}

.Content .ProductList li .ProductWishlistContaint a.ProductWishList {
    background-color: none repeat scroll 0 0 #E1E1E1 !important;
    background: url("//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/wishlist.png") no-repeat scroll 0 0!important;
    border-radius: 0 0 0 0 !important;
    text-indent: -99999px;
    width: 44px !important;
    padding: 0 !important;
    font-size:0px;
    display:block;
    height:40px;
}
.Content .ProductList li .ProductWishlistContaint a.ProductWishList:hover {
    background: url("//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/wishlist.png") no-repeat 0 -42px !important;
}

#fastCartContainer .ProductWishlistContaint, #fastCartContainer .ProductActionAdd { display:none; }

.ProductList .ProductImage img { max-width: 100%; }

.ProductList li.item-0,
.ProductList li.item-1, .ProductList li.item-2, .ProductList li.item-3, .ProductList li.item-4, .ProductList li.item-5  { width:225px; padding:5px 10px; }

.lt-ie9 .ProductList li.item-0,
.lt-ie9 .ProductList li.item-1, .lt-ie9 .ProductList li.item-2, .lt-ie9 .ProductList li.item-3, .lt-ie9 .ProductList li.item-4, .lt-ie9 .ProductList li.item-5  {padding-left:8px; }

.ProductList li:hover .border{
    
}
.ProductList li .ProductActionAdd a{
    display: block;
    position: relative;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    width: 148px;
    color: #464646 !important;
    background: #EFEFEF;
    line-height: 40px !important;
    height: 40px !important;
    padding: 0 15px !important;
    float: right;
    text-align:center;
}

.ProductInfo {     
    background: #EFEFEF;
    padding: 0px;
    position: relative;
    border-top: 1px solid #e5e5e5;
    text-align:left;
    overflow:hidden;
}
.ProductDetails {padding:10px; line-height:20px; }
.ProductDetails strong a { color:#111; }
.ProductPrice,
.ProductList em{
    font-style:normal;
    font-weight:600;
    color:#2767C5;
    display:block;
    float:left;
    font-size:16px;
}
.ShippingProviderList em.ProductPrice {float:none;}
.ProductMain .ProductPrice, .ProductMain .ProductList em, .ProductMain em { float:none;}
.ProductList li .ProductPriceRating em {width:45%;}

.CartContents .ProductPrice { float:none;}

#fastCartContainer .ProductPriceRating em {
    font-style:normal;
    font-weight:600;
    color:#2767C5;
    padding: 5px 0px 10px 10px;
    font-size: 15px;
    display:block;
}

.ProductList li .ProductCompareButton{
    color: #606060;
    float: left;
    z-index: 2;
    margin-top: 15px;
}
.ProductList .Rating {
    color: #9a9a9a;
}


.Right .TopSellers li .TopSellerNumber { /* Contains the number of the item */
    display: none;
}





.CompareItem {
    width:200px;
    border-left: solid 1px #333;
}
.CompareFieldName {
    font:15px 'oswaldbold';
    color:#464646;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-transform:uppercase;
    letter-spacing:1px;
}
.CompareFieldName a{color:#464646;}
.CompareFieldTop {
    border-bottom:solid 1px #ccc;
    border-top:solid 1px #ccc;
}
.CompareFieldTop a:hover {
    color:#4e4e4e;
}
.CompareCenter {
    border-bottom:solid 1px #ccc;
    border-right:solid 1px #ccc;
}
.CompareLeft {
    border-bottom:solid 1px #ccc;
    border-right:solid 1px #ccc;
}
.CompareLeft:last-child, .CompareCenter:last-child{border-right:none;}



.ViewCartLink {
    background: url('//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/white/Cart.gif') no-repeat 0 50%;
}


.CustomizeItemLink{
    font-weight:bold;
    text-transform:uppercase;
    color:#2767C5!important;
}
.productAttributes td{
    border: 0;
}
.productAttributes label{
    font-weight: bold;
}
.CartItemQuantity{text-align:right;}

.CartItemQuantity select option{text-align:center;}
/* Wish List Form
....................................................................... */
.header .actions .btn {
    font-size: 13px !important;
    padding: 4px 12px !important;
    margin-left: 20px;
}
#DesktopCapturePanel #Logo { background: white; text-align:center; }
#DesktopCapturePanel #Logo img { margin:25px 0px; }
#mobile-header {
    float: left;
    margin-top: -40px;
    position: absolute;
}
#MobilePagesMenu {display:none;}
#wishlistsform .action .edit a{
    background:url(//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/edit.png) transparent left top no-repeat;
}

#wishlistsform .action .delete a{
    background:url(//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/trash.png) transparent left top no-repeat;
}

#wishlistsform .action .share a{
    background:url(//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/share.png) transparent left top no-repeat;
}

/*....................................................................... */
#CartHeader {
    padding:18px 15px;
    margin:0;
}
#CartHeader h1 { margin:0; padding:0; }

.JustAddedProduct {
    border: 1px solid #dcdcdc;
    background: #fff;
}
.JustAddedProduct strong,
.JustAddedProduct a {
    text-decoration: none;
}
.JustAddedProduct a:hover {
    
}


.CategoryPagination a {
    color: #606060;
    display: block;
    padding: 0 3px 3px;
    background-repeat: no-repeat;
    background:#e5e5e5;
}

.CategoryPagination li.ActivePage {
    background: #f4f4f4;
}



.CategoryPagination li.ActivePage:hover {
    border-bottom: 0;
}


.SubCategoryList,
.SubBrandList {
}

.Message {
    color:#000;
    border-width:0px; 
    border-style: solid;
    color: #464646;
    border-color: transparent;
    background-position: 13px 10px;
    background-repeat: no-repeat;
    line-height: 20px;
}

.Message a {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    color: #2767C5;    
}

.InfoMessage {
    background-color: #f5f5f5;
    background-image: url('//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/white/InfoIcon.png');
    border-color: #e5e5e5;
}
.SpecificInfoMessage {
    background-color: #efefef;
}
.SuccessMessage {
    background:#ccffcc url('//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/white/SuccessIcon.png') 5px 10px no-repeat;
    border-color: #c6e7c4;
}
.ErrorMessage {
    background-color: #fdd6ce;
    background-image: url('//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/white/ErrorIcon.png');
    border-color: #f5d8d4;
}

.ErrorMessage.NewsletterThanks {
    padding: 10px 38px;
    background-repeat: no-repeat;
    background-position: 10px;
}

.ComparisonTable tr:hover td,
.ComparisonTable tr.Over td {
    background: #f4f4f4;
}
.QuickSearch {
    border: 1px solid #dcdcdc;
    margin-top: 15px;
    margin-left: -16px;
}
.QuickSearch:before {
    content: "";
    height: 10px;
    width: 19px;
    background-image: url('//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/white/up-arrow.png');
    background-repeat: no-repeat;
    position: absolute;
    top: -10px;
    left: 55px;
}
td.QuickSearchResultMeta {
    padding-right: 20px;
}
.QuickSearchHover td {
    background: #f4f4f4;
}
.QuickSearchAllResults a {
    background: url('//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/white/QuickSearchAllResultsButton.png') no-repeat right;
}
.QuickSearchResult .Price {
    color: #4e4e4e;
}
.CreateAccount {    border-right: 1px solid #ccc;}
#CreateAccountForm { border-top: 0px solid #ccc; }
#CreateAccountForm h3 { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
.SearchTips .Examples {
    background: #f4f4f4;
}
hr {
    background: #ebebeb;
    border-color: #ebebeb;
}
.Right hr {
    background: transparent;
    border: 0;
}
.MiniCart .SubTotal {
    color: #4e4e4e;
}


/* Shipping Estimation on Cart Contents Page */
.EstimateShipping {
    background: #f4f4f4;
}





/* Tabbed Navigation */
.TabNav {
    border-bottom: 1px solid #dedede;
}
.TabNav li a {
    border: 1px solid #dedede;
    background: #bababa;
    color: #000;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.TabNav li a:hover {
    
}
.TabNav li.Active a {
    border-bottom: 1px solid #dedede;
    background: #f0f0f0;
}

/* Product Videos */

.currentVideo {
    background-color: #e7e7e7;
}

.videoRow:hover {
    background-color: #efefef;
}

.CartContents .ItemShipping th {
    border-bottom-color: #dcdcdc;
    border-top-color: #dcdcdc;
    background: #f4f4f4;
    color: #2f2f2f;
}


/* start fast cart styles */
#fastCartContainer {
    font-size: 13px;
    color: #000;
}
.fastCartContent h2 {
    background-color:transparent;
}
.fastCartContent h3 {
    background-color:transparent;
}
.fastCartThumb {
    width: 150px;
    padding: 10px;
    height: 200px !important;
    border: 1px solid #ddd;
    padding: 10px;
    display: table-cell;
    text-align:center;
    vertical-align: middle;
    
}
.fastCartThumb img {
    max-height: 200px !important;
    max-width: 148px !important;
    margin: 0 auto;
    vertical-align: middle;
}
.fastCartSummaryBox {
    background-color: #EBEBEB;
}

/* end fast cart styles */


/* Modal */
#ModalContainer {
    
}

#QuickViewImage,
#QuickViewProductDetails {
    border-color: #f4f4f4 !important;
}
.QuickViewProductDescription { clear:both; }
#QuickViewProductDetails td,
#QuickViewProductDetails .productAttributeRow,
.DetailRow {
    
}

.SubCategoryListGrid {
    border-bottom: 1px solid #dcdcdc;
}

#AjaxLoading,
.OrderItemMessage,
.CurrencyList a.Sel,
.SharePublicWishList {
    background: #f4f4f4;
}

#socnet {
    
}

#socnet .icon-social-theme {
    
}




#prodAccordion .Block h2 {
    background:#fff url(//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/dropdown-arrow.png) 99% 50% no-repeat;
    margin-bottom:10px;
    border:1px solid #e5e5e5;
}
#prodAccordion .Block.current h2 {
    background:#efefef url(//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/arrow-up.png) 99% 50% no-repeat;
    border:1px solid #e5e5e5;
}
#prodAccordion .Block:last-child {
    
}
.prodAccordionContent {
    
}
/* .prodAccordionContent ul, .prodAccordionContent ol {margin-left:30px;}
.prodAccordionContent ul li {list-style:disc;}
.prodAccordionContent ol li {list-style:decimal;} */

#TopMenu .phoneIcon {
    background: none;
    padding-left: 13px;
    border-right: 1px solid;
}
#HeaderLower{ }

/* For the currency chooser */
#HeaderLower {
    position: relative;
}
#currency-chooser {
    float: right;
    clear: both;
    margin-top: 25px;
    font-size: 11px;
}
#currency-chooser .currency-info {
    float:left;
    margin-right: 5px;
    color: #b8b8b8;
}
#change-currency {
    color: #000;
    text-decoration: underline;
    cursor: pointer;
    float: left;
}
#currency-chooser .currencies {
    background: #f8f8f8;
    display: none;
    margin-top: 30px;
    padding: 10px;
    position: absolute;
    right: 0px;
    z-index: 10;
    width: 168px;
}
#currency-chooser .currencies:before {
    width: 0;
    height: 0;
    border: 15px solid #f8f8f8;
    border-top: none;
}
#currency-chooser .currencies dd {
    background: transparent;
    border: #ededed solid 1px;
}
#currency-chooser .currencies dd a {
    background: transparent;
    border: none;
    padding: 5px;
}
#currency-chooser .currencies dd a.Sel {
    background: #fff;
}

.ProductPriceWrap {
    
}

.PrimaryProductDetails {
    
}


.PrimaryProductDetails .zoomPad img {
    border: 0px solid #f4f4f4;
    border-top: 0 none;
}


/* Gift Certificate
....................................................................... */


.Block.YourAccount p {
    line-height:2.8ex;
}

/* Form fields */
input.field-xlarge, 
select.field-xlarge {
    line-height: 25px;
    padding: 8px 10px 7px;
    vertical-align: middle;
    width: 200px;
}
input[type="password"].field-xlarge, 
input[type="text"].field-xlarge {
    width: 180px;    
}
select.field-xlarge {
    margin-top: 3px;
}
.HorizontalFormContainer dt {
    line-height: 30px;
    vertical-align: middle;
    padding: 0;
}

.AccountOrdersList {
    list-style: none;
    margin: 0;
}
.AccountOrdersList > li {
    margin-top: 20px;
}

.SideNav { 
    height: 800px;
    width: 260px;
    float: left;
    background: #474747;
    position:absolute;
    z-index:2;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.20);
}

.SideNav h2, #sidr-right h2 { background: #2767C5; padding: 10px 12px; color:#fff; font-size: 14px; font-weight:bold; margin-bottom: 0px; clear:both; } 
.SideNav .Block { margin-bottom: 0px; }
.MainContainer {
    padding-left:285px;
    padding-right:10px;
    z-index:1;
    position:relative;
}
#sidr-right .CloseMenu a {padding:0; border-bottom:none; text-align:right; margin-right:10px;}
#sidr-right .CloseMenu a:hover {background:none;}


#SideCategoryList a {color:white; *overflow:hidden;}
#SideCategoryListFlyout {width:100%; float:left; clear:both;}

/* banners */
.banner_home_page_top h1 { color: #9966CC;     font-family: 'Dancing Script',cursive; font-size: 30px; text-transform: none;}
.banner_category_page_bottom ul {margin-left:30px;}
.banner_category_page_bottom ul li { list-style:disc; }
.banner_category_page_bottom ul ul li { list-style:circle; }

/* home page labels */
.FeaturedProductLabel { background: #2767C5; color:#fff; padding: 5px; position: absolute; z-index: 3; font-size: 12px; }
.NewProductLabel { background: #4ba1dc; color:#fff; padding: 5px; position: absolute; z-index: 3; font-size: 12px;    }
.SaleProductLabel { background: #7fba00; color:#fff; padding: 5px; position: absolute; z-index: 3; font-size: 12px;  }



.sidr {
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: 260px;
    overflow-x: none;
    overflow-y: auto;
    background: #444;
}

.sidr .SideNav { background: none; }
.sidr .sidr-inner {
    padding: 0 0 15px;
}

.sidr .sidr-inner>p {
    margin-left: 15px;
    margin-right: 15px;
}

.sidr.right {
    left: auto;
    right: -260px;
}

.sidr.left {
    left: -260px;
    right: auto;
}
.CloseMenu { background: black; padding: 5px; color: white; }


.treeview, .treeview ul, #sidr-right ul { 
    padding: 0;
    margin: 0;
    list-style: none;
}
#sidr-right .cartLink, #sidr-right #SideCurrencySelector {display: none !important;}
#sidr-right .TopAccountMenu { padding-right: 0px !important;  border-right:0px !important;}

.treeview ul {
    background-color: #666;
    /*margin:10px -10px -11px -10px;*/
}

.treeview .hitarea {
    background: url(//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/menu-arrow.png) no-repeat center -41px #3f3f3f;
    height:37px;
    width: 36px;
    cursor: pointer;
    position:absolute;
    right:0;
    top:0;
}
/* fix for IE6 */
* html .hitarea {
    display: inline;
    float:none;
}

.treeview li { 
    margin: 0;
    /*padding: 3px 0pt 3px 16px;*/
}

/*.treeview a.selected {
background-color: #eee;
}*/

#treecontrol { margin: 1em 0; display: none; }

.treeview .hover { color:#000; cursor: pointer; }
.treeview li a:hover { color:#fff; background:#3f3f3f; }


.treeview li {  position:relative;  }
.treeview li.collapsable, .treeview li.expandable { background-position: 0 -176px; }
.treeview li a, .SideNav li a, #sidr-right a { color:#fff; font-size:13px; text-decoration:none; border-bottom:1px solid #3d3d3d;  padding:10px 10px 10px 10px; display:block;  }
.treeview .collapsable-hitarea { background:url(//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/menu-arrow.png) no-repeat center 17px #3f3f3f; position:absolute; right:0; top:0; }

/* Level 2 Arrow ICon */
.treeview .collapsable ul li .hitarea {
    background: url(//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/menu-arrow.png) no-repeat center 17px #4D4D4D;
    border:0px; 
    height:36px;
    width: 36px;
    cursor: pointer;
    position:absolute;
    right:0;
    top:0;
}
.treeview .collapsable ul li .expandable-hitarea { background:url(//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/menu-arrow.png) no-repeat center 17px #4D4D4D; position:absolute; right:0; top:0; }


/*.treeview li ul li{ border-bottom:1px solid #7a1e61; }*/
.treeview .collapsable ul li a { background:#535353; padding-left: 24px; border-bottom:1px solid #484848;}
.treeview .collapsable ul li a:hover { background:#4D4D4D;}
.treeview .collapsable ul li.collapsable ul li a { background:#606060; border-bottom:1px solid #555555; padding-left: 36px; }

.treeview li.last { background-position: 0 -1766px }




.treeview .placeholder {
    background: url(//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/ajax-loader.gif) 0 0 no-repeat;
    height: 16px;
    width: 16px;
    display: block;
}

.treeview .collapsable ul li .expandable-hitarea {background:url(//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/menu-arrow.png) no-repeat center -41px #4d4d4d; position:absolute; right:0; top:0; }

.filetree li { padding: 3px 0 2px 16px; }
.filetree span.folder, .filetree span.file { padding: 1px 0 1px 16px; display: block; }
.filetree span.folder { background: url(//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/folder.gif) 0 0 no-repeat; }
.filetree li.expandable span.folder { background: url(//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/folder-closed.gif) 0 0 no-repeat; }
.filetree span.file { background: url(//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/file.gif) 0 0 no-repeat; }


#Wrapper {overflow:hidden;}
html.javascript .productOptionPickListSwatch li {margin-bottom:5px;}

/* Fast Cart Box */
#fastCartContainer .ProductList li {width:22% !important; margin-left:20px; margin-right:0;}
#fastCartContainer .ProductList li:first-child {margin-left:0;}
#fastCartContainer .ProductList li .ProductActionAdd a {border:1px solid #ccc; width:147px;}
#ModalContainer {width:700px !important; margin-left:-350px !important;}
.fastCartItemBox {max-width:33%;}
#fastCartContainer .ProductDetails {height:85px;}
#fastCartContainer .ProductPriceRating em {padding-left:0;}


/* New Classes */

.socialicons-side { float:right;}
.GrandTotal .ProductPrice { color:#fff; font-weight:700; }

.SideRelatedProducts { padding: 10px 0 0;}
.NewsletterColumn {margin-bottom:10px;}

#CategoryHeading h1, #BrandContent h1 { margin:15px 12px 10px; padding:0px; display:block; float:left; width:50%; }

.contentbg, #SearchContent_Container { background:#fff; padding:1% !important; }
.mrg_top { margin-top:25px !important; }

.recaptchatable a, .recaptchatable a:hover { color:#2767C5 !important; }

.WishlistProductList { list-style:none; }
#SearchForm button.btn { background: none !important; }

/* Home Slider */
.slide-show-render.slide-show {max-width:1004px !important; width:1004px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}

.backtotop {float:right; background:url(//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/scrolltotop.png) 50% 30px no-repeat; padding:75px 0 0; 0}
.contentbg, #Wrapper.contentbg  {min-height:600px; overflow:hidden;}
.brandPage #Wrapper.contentbg {min-height:0;}
/* Sitemap Page */
.SitemapPages, .SitemapCategories, .SitemapBrands {float:left; width:30%; margin-right:2%;}
#SitemapContent h3 {color:#2767C5; border-bottom:1px dotted #2767C5; padding:0 0 10px 0;}
#SitemapContent ul {margin-bottom:0; margin-top:10px;}
#SitemapContent li  {list-style:disc; color:#2767C5; padding-bottom:8px;}
#SitemapContent p span a {color:#2767C5; font-weight:bold;}
#SitemapContent p span a:hover {color:#6E6E6E;}

/* Brand and Category Page */
.CategoryPagination { }
#BrandContent .CategoryPagination { margin:15px 0 0 15px; float:right; }

.SubBrandListGrid li {margin:0 14px 14px 0; border:1px solid #e5e5e5; box-shadow:0 1px 1px rgba(0, 0, 0, 0.3); background:#fff; }
.SubBrandListGrid li .ProductDetails {background:#efefef; padding-top:10px; padding-bottom:10px; height:40px;}
.SubBrandListGrid .ProductImage img {max-width: 158px !important;}


/* Cart Page */
.CartBottom {position:relative; clear:both; float:left; width:100%;}

/* Common Inner Page Content */
.Content #PageContent h3 {color:#2767C5;}

#PageContent h1, #PageContent h2, #PageContent h3, #PageContent h4, #PageContent h5, #PageContent h6, .contentbg h1, .contentbg h2, .contentbg h3, .contentbg h4, .contentbg h5, .contentbg h6 {text-transform:none;}

/* Wishlist Page Remove Link */
.RemoveFromWishlistForm input[type="submit"] {background:url(//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/removeicon.png) 0 0 no-repeat !important; width:46px; height:42px; overflow:hidden; display:block; text-indent:-200px;}
.RemoveFromWishlistForm input[type="submit"]:hover {background-position:0 -42px !important;}

/* Mobile Cart */
.mobile-view { display:none; }


#CartContent .Block {
    clear: none;
    margin: 0 0 10px 0;
    padding: 0;
    -webkit-border-radius: 0;
}
#CartContent .CartList {
    padding: 0;
    margin: 0;
}
.CartList li {
    width: auto;
    position: relative;
    display: block;
    clear: both;
    list-style: none;
    padding: 15px;
    margin: 0;
    border-bottom: 1px solid #efefef;
}
.CartList li:first-child {
    padding-top: 0
}
.CartList table.productAttributes {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 5px;
}
.CartList table.productAttributes td {
    width: 49%;
    padding-right: 1%!important;
    border-bottom: dotted #ccc 1px;
}
.CustomizeItemLink,
.WrappingOptions a {
    font-family: 'Montserrat',Arial,Helvetica,sans-serif
}
.CartList table.productAttributes td {
    padding: 5px 0
}
.CartList .ProductImage {
    float: left;
    background: #fff;
    width: 80px!important;
    height: auto!important;
    overflow: hidden;
    text-align: center;
    margin: 0 15px 15px 0;
}
.CartList .ProductImage img {
    width: 100%;
    max-width: 100%!important;
    max-height: 100%!important;
}
.CartList .ProductDetails {
    display: block;
    padding: 0 0 0 95px;
}
.CartList .ProductPrice {
    display: inline
}
.CartList .CartQuantity a {
    text-decoration: underline
}
.CartList .CartItemPrice,
.CartList .CartQuantity {
    margin: 5px 0;
    line-height: 18px;
}#CartContent .Block {
    clear: none;
    margin: 0 0 10px 0;
    padding: 0;
    -webkit-border-radius: 0;
}
#CartContent .CartList {
    padding: 0;
    margin: 0;
}
.CartList li {
    width: auto;
    position: relative;
    display: block;
    clear: both;
    list-style: none;
    padding: 15px;
    margin: 0;
    border-bottom: 1px solid #efefef;
}
.CartList li:first-child {
    padding-top: 0
}
.CartList table.productAttributes {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 5px;
}
.CartList table.productAttributes td {
    width: 49%;
    padding-right: 1%!important;
    border-bottom: dotted #ccc 1px;
}
.CustomizeItemLink,
.WrappingOptions a {
    font-family: 'Montserrat',Arial,Helvetica,sans-serif
}
.CartList table.productAttributes td {
    padding: 5px 0
}
.CartList .ProductImage {
    float: left;
    background: #fff;
    width: 80px!important;
    height: auto!important;
    overflow: hidden;
    text-align: center;
    margin: 0 15px 15px 0;
}
.CartList .ProductImage img {
    width: 100%;
    max-width: 100%!important;
    max-height: 100%!important;
}
.CartList .ProductDetails {
    display: block;
    padding: 0 0 0 95px;
}
.CartList .ProductPrice {
    display: inline
}
.CartList .CartQuantity a {
    text-decoration: underline
}
.CartList .CartItemPrice,
.CartList .CartQuantity {
    margin: 5px 0;
    line-height: 18px;
}


/* HOme Slide Show Setting */
#HomeSlideShow .slides img {width:100%;}

/* IE Related CSS */
.lt-ie9 img {max-width:auto !important;}
.lt-ie8 .MainContainer {overflow-x:hidden;}
.lt-ie8 .selected-currency, .lt-ie8 .selCurr, .lt-ie8 .changeCurr {float:left;}
.lt-ie8 .changeCurr {margin-left:3px; display:block;}
.lt-ie8 .no-ie-clear {display:none;}
.lt-ie8 .flex-direction-nav a {display:none;}

.lt-ie8 .treeview li.expandable a, .lt-ie8 .treeview li.collapsable a {width:78%;}
.lt-ie8 .treeview li.expandable li a, .lt-ie8 .treeview li.collapsable li a {width:86%;}
.lt-ie8 .treeview li.expandable li li a, .lt-ie8 .treeview li.collapsable li li a {width:82%}

/* Product Details Page */
.lt-ie9 .ProductMain {float:left; margin-left:1.5%;}
.lt-ie9 .productOptionViewRectangle li {float:left;}
.lt-ie9 .ProductThumbImage {display:block;}
.lt-ie8 .ProductThumbImage {display:table-cell;}


.lt-ie9 #QuickViewTopNav .rightPanel {width:130px; text-align:right;}
.lt-ie9 #QuickViewTopNavRating {width:100% !important; float:left;}
.lt-ie9 #QuickViewTopNavRating img {max-width:auto !important; float:left;}
.lt-ie9 #QuickViewProductDetails #ProductDetails .productAttributeRow {padding-bottom:10px;}
.lt-ie8 #QuickViewProductDetails #ProductDetails .productAttributeRow {padding-bottom:0;}

.Quantity { clear:both; }
.ShipperPrice { padding-right:20px; }
.PriceRow .ProductPrice { font-size:24px; }

.sharebutton { background: #2767C5; border-radius:0px; border:0; text-transform:uppercase; }
.sharebutton:hover { background:#111; }

#WishLists h2, #WishListItems h2 { margin:15px 12px; }
.contentbg h2:first-child { margin:0 0 15px; } 

.GiftCertificateBody #LogoContainer h1 { font-family:'Open Sans', sans-serif !important; }
#LogoContainer a, #LogoContainer a span {color:#2767C5;}
#LogoContainer a:hover, #LogoContainer a:hover span {color:#444;}

/* Wishlist Page */
#WishLists {padding:15px; background:#fff;}
.ProductPriceWrap .PriceRow .YouSave {padding-left:0;}
/* 404 Page */
.NotFound {background:url(//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/404.png) 50% 50% no-repeat; overflow:hidden; min-height:600px;}
.NotFound ul {margin:0 auto; padding-left:25px;}
.NotFound li {list-style:disc; padding:0 0 10px; color:#2767C5;}
.NotFound li span {color:#000;}

/* Login Page */
.CreateAccount ul {padding-left:35px;}
.CreateAccount li {list-style:disc; padding:0 0 10px 10px;}

.ShippingProviderList li {padding-bottom:10px;}

#SideAccountStoreCredit .BlockContent {padding:0 10px; color:#fff;}

/* New Slider Cycle-2 */
.slide-show-render.slide-show {position:relative;}
#HomeSlideShow .center {display:none;}
#HomeSlideShow:hover .center {display:block;}
#HomeSlideShow #next {width:50px; height:50px; display:block; background:url(//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/next.jpg) 0 0 no-repeat; cursor:pointer; position:absolute; top:50%; right:12px; margin-top:-25px; z-index:3; height:50px;}
#HomeSlideShow #prev {left:12px;  margin-top:-25px;  position:absolute; top:50%; z-index:3; width:50px; height:50px; display:block; background:url(//cdn6.bigcommerce.com/r-61cb13da88b099ab0af1c8c3593d21b6a5ae30f9/themes/Samonika/images/prev.jpg) 0 0 no-repeat; cursor:pointer;}
.cycle-pager {margin:-50px 0 0 50px; position:absolute; z-index:3;}
.cycle-pager span {font-size:50px; color:#444; cursor:pointer;}
.cycle-pager span.cycle-pager-active {color:#2767C5;}

/* Express Checkout */
.ExpressCheckoutContent dd div.selector, #uniform-AuthorizeNet_ccexpm, #uniform-AuthorizeNet_ccexpy {min-width:70px !important;}



.productOptionPickListSwatch .selectedValue .swatchColours, .productOptionPickListSwatch .selectedValue .textureContainer, #ProductDetails .productOptionPickListSwatch .selectedValue .swatchColours, #ProductDetails .productOptionPickListSwatch .selectedValue .textureContainer {border:2px solid #444 !important;}
.productOptionPickListSwatch .textureContainer, .productOptionPickListSwatch .swatchColours, #ProductDetails .productOptionPickListSwatch .swatchColours,  #ProductDetails .productOptionPickListSwatch .textureContainer {background:#d8d8d8; padding:1px !important;}

/* Blog Page */
.BlogPage #SideCategoryList, .BlogPage #SideShopByBrand, #BlogRecentPosts {display:none;}
.BlogPage #BlogRecentPosts {display:block !important;}
.AddThisButtonBox {width:165px;}
.BlogShare .AddThisButtonBox {width:100%;}

/* Product Attribute Style Overwrite */
.productAttributeList .productAttributeLabel{margin:0 auto 5px !important; padding: 0; width: auto !important; text-transform:uppercase; font-size:15px !important; line-height: normal; font-family: 'Open Sans', sans-serif; font-size: 12px !important; font-style: normal; font-weight: bold; color: #444; background: none; position: relative; display: inline-block; *display: inline; zoom: 1; float: none;}
.productAttributeList .productAttributeValue {clear: both; margin-top: 6px !important; width: 100%;}

/* Sub Category Grid View */
.SubCategoryListGrid {padding:0;}
.SubCategoryListGrid ul {margin-left:-14px;}
.SubCategoryListGrid li { padding: 0 !important; width: 240px !important; margin:0 0 12px 14px !important;}
.SubCategoryListGrid li.RowDivider {display:none;}
.SubCategoryListGrid li a:first-child {height:240px !important; display:block; vertical-align:middle;}